:root {
    --text-color: #212121;
    --text-color-hover: #2196F3;
    --logo-color-first: #2196F3;
    --logo-color-second: #000;
    --logo-color-third: #fff;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    width: 145px;
    height: 31px;
}

.logo-color-first {
    color: var(--logo-color-first);
}

.logo-color-second {
    color: var(--logo-color-second);
}

.logo-color-third {
    color: var(--logo-color-third);
}

.body-style {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background: #FFFFFF;
}

.main-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color)
}

.main-nav-link:hover,
.main-nav-link:focus {
    color: var(--text-color-hover);
}

.current {
    color: var(--text-color-hover);
}

.main-title {
    background: #2F303A;
}

.main-title-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}

.main-title-button {
    font-weight: 700;
    border-radius: 4px;
    background: #2196F3;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

.main-title-button:hover,
.main-title-button:focus {
    background: #188CE8;
}

.main-page {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.main-page-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-page-team {
    background: #F5F4FA;
}

.main-page-team-case {
    background: #fff;
}

.main-page-team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-page-team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*-------footer styles-------*/

.page-footer {
    background: #2F303A;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.page-footer-address {
    color: #fff;
}

.page-footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.page-footer-contacts:hover,
.page-footer-contacts:focus {
    color: var(--text-color-hover);
}

/*-------portfolio styles-------*/

.header {
    border: 1px solid #ECECEC;
}


.portfolio-menu-button {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    background: #F5F4FA;
}

.portfolio-menu-button:hover,
.portfolio-menu-button:focus {
    background: var(--text-color-hover);
    color: #fff;
}

.portfolio-projects-case {
    border: 1px solid #EEEEEE;
}

.portfolio-projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.portfolio-projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}